body{
  background-image: url("../img/background.jpg");
}

#make{
    margin-top: -5px;
margin-left: 476px;
}

#small{
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
}

#exTab1 .tab-content {
    color : white;
    background-color: grey;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color:grey;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: grey;
    padding : 5px 15px;
  }

  .vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    }

.nav-pills{
    background-color: #4f2684;
}

.w3-container, .w3-panel{
  padding: 0.00em 0px;
}

.w3-bar .w3-bar-item {
  margin-left: 3px;
}

#wee{
  width: 24.333%;
}

*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.3em;
}

*[role="form"] h2 {
  margin-left: 5em;
  margin-bottom: 1em;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}